/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #da4167;
  --f7-theme-color-rgb: 218, 65, 103;
  --f7-theme-color-shade: #cb0027;
  --f7-theme-color-tint: #e14463;
}

/* Invert navigation bars to fill style */
:root,
:root.dark,
:root .dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 218;
  --g: 65;
  --b: 103;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.dark .navbar-large-transparent,
.dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

.searchBar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.searchBar input {
  background-color: transparent !important;
  border-bottom: #E5FCF5 solid 1px !important;
  border-radius: 0 0 0 10px !important;
}

.addBtn {
  background-color: #59FFA0;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.reloadBtn {
  background-color: #59FFA0;
  border-radius: 25%=px;
  width: fit-content;
  height: 25px;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 30px;
}

.servers {
  margin: 0;
  overflow-y: scroll;
  height: 100%;
}

.serverBlock {
  background-color: #FFC09F;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  max-height: 150px;
  overflow: hidden;
  padding: 15px;
  gap: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.serverBlock:hover {
  opacity: 0.7;
}

.serverBlock > .image {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.serverBlock > .image > img {
  max-height: 100%;
}

.serverBlock >.paragraph {
  width: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.serverBlock >.paragraph > h3 {
  margin: 0;
}

.loginPopup {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.loginPopup > div {
  background-color: transparent !important;
}

.loginField {
  background-color: #FFC09F;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 30px;
}

.loginField input {
  background-color: var(--f7-theme-color);
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px !important;
  border: 0 !important;
}

.loginField input::after {
  border: 0 !important;
}

.loginField .input-focused {
  text-decoration: none !important;
}

.loginField .input-outline:after, .item-input-outline .item-input-wrap:after {
  border: 0 !important;
}

.loginField .backBtn {
  background-color: #5E0303;
  width: 130px;
  border-radius: 15px;
}

.loginField .loginBtn {
  background-color: #59FFA0;
  width: 130px;
  border-radius: 15px;
}

.loginField > .buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.servers ul {
  background-color: transparent !important;
}

.list ul:before {
  display: none !important;
}

.list ul:after {
  display: none !important;
}

.simple-list li:after, .links-list a:after, .list .item-inner:after {
  display: none !important;
}

.authKeySection .downloadAuthKeyBtn {
  background-color: #59FFA0;
  width: 130px;
  border-radius: 15px;
  width: 36px;
}

.authKeySection {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.authKeySection input {
  margin-top: 0px !important;
  min-width: 270px !important;
}

.serverStats {
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  padding: 10px;
  background: #FFC09F;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.serverActionContainer {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serverActionRow {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.serverAction {
  width: 100px;
  height: 100px;
  background: #FFC09F;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serverPlayer {
  background-color: #ffc09f;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.playersWrapper {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.whitelistEnabler {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  background-color: #535353;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}